.search {
	text-align: center;
	margin-top: 15%;
}

.search .indication {
	font-family: arial, sans serif;
	font-size: 1.5em;
	color: #656565;
	margin-bottom: 25px;
}


@media (max-width: 900px) {

	.search {
		margin-top: 35%;
	}

	.search .indication {
		font-size: 1em;
		margin-bottom: 15px;
	}

}